<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - myportfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/myportfolio.styles.css" asp-append-version="true" />
    <style>
        .logo {
            display: flex;
            align-items: center;
        }

        .database-icon {
            width: 30px;
            height: 40px;
            position: relative;
            margin-right: 10px;
        }

        .database-icon::before,
        .database-icon::after,
        .database-icon .disk {
            content: '';
            display: block;
            width: 100%;
            height: 8px;
            background-color: rgb(234,226,183);
            border-radius: 50%;
            position: absolute;
        }

        .database-icon::before {
            top: 0;
        }

        .database-icon::after {
            bottom: 0;
        }

        .database-icon .disk {
            top: 50%;
            transform: translateY(-50%);
        }

        .logo-text {
            display: flex;
            flex-direction: column;
            color: rgb(234,226,183);
        }

        .logo-text .main-text {
            font-size: 20px;
            font-weight: bold;
           
        }

        .logo-text .sub-text {
            font-size: 14px;
            font-weight: bold;
           
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand logo" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="database-icon">
                        <div class="disk"></div>
                    </div>
                    <div class="logo-text">
                        <div class="main-text"><span class="letterN">N</span>KOSI</div>
                        <div class="sub-text">MTESHANA</div>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    MENU<br/>
                </button>
                <div class="navbar-collapse collapse">
                    <button class="navbar-close">&times;</button>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - myportfolio - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
