@{
    ViewData["Title"] = "Confirmation Page";
}

<div class="text-center">
    <h2 class="display-4">Thank You!</h2>
    <p>Your message has been sent successfully. We'll get back to you shortly.</p>
</div>